<ion-view view-title="Appointment">
    <ion-content>
        <!-- ่วนกรอกข้อมูล -->
        <div class="list-name">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Tel.">
            </label>
        </div>
        <br>
        <!-- หน้ากรอกข้อมูลส่วน เลือกวัน -->
        <ion-list>
            <ion-radio ng-model="choice" ng-value="'A'">
                Date : 14/05/59
                <br> Course : 08.00 am.-10.00 am.</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">
                Date :14/05/59
                <br> Course : 01.00 pm.-03.00 pm.</ion-radio>
            <ion-radio ng-model="choice" ng-value="'C'">
                Date : 16/05/59
                <br> Course : 08.00 am.-10.00 am.</ion-radio>
            <div class="row">
                <div class="col col-20"></div>
                <div class="col col-60">
                    <button class="button button-orang-appointment" ui-sref="app.cart">
                    submit
                    </button>
                </div>
                <div class="col col-20"></div>
            </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
