<ion-view view-title="Shop" class="shop-view">
    <ion-tabs class="tabs-icon-top tabs-striped tabs-background-balanced tabs-color-light shop-tabs">
        <ion-tab title="Physical" icon-on="ion-ios-medkit-outline" icon-off="ion-ios-medkit-outline" ui-sref="app.shop.home">
            <ion-nav-view name="shop-home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Waccien" icon-on="ion-erlenmeyer-flask" icon-off="ion-erlenmeyer-flask" ui-sref="app.shop.popular">
            <ion-nav-view name="shop-popular"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Other" icon-on="ion-ios-keypad-outline" icon-off="ion-ios-keypad-outline" ui-sref="app.shop.sale">
            <ion-nav-view name="shop-sale"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Search" icon-on="ion-ios-search" icon-off="ion-ios-search" ui-sref="app.shop.sale">
            <ion-nav-view name="shop-sale"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
