<ion-view>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="{{post.user.picture}}">
                <p class="card-description">
                    <a class="card-user-name" ui-sref="app.profile.posts({userId:post.userId})">
                {{post.user.name}}
                </a>
                </p>
                <span class="card-moment-posted" am-time-ago="post.date"></span>
            </div>
            <div class="item item-body">
                <h2 class="card-title">{{post.text}}</h2>
                <br>
                <div class="item item-image">
                    <pre-img ratio="_3_2" helper-class="main-image">
                        <img ng-src="{{post.picture}}" spinner-on-load>
                    </pre-img>
                </div>
                <div class="row" style="margin-top:-20px;">
                    <div class="col col-50">
                        <p style="font-size: 15px;color:rgb(0,0,255);" class="ion-thumbsup" class="subdued"> {{post.feed_feel.length}} </p>
                    </div>
                    <div class="col col-50" style="text-align:right">
                        <p><a href="#" class="subdued">{{post.feed_comment.length}} comment </a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-30">
                        <span style="font-size: 20px; " class="ion-thumbsup subdued">  </span>ถูกใจ
                    </div>
                    <div class="col col-30">
                        <span style="font-size: 20px; " class="ion-ios-chatbubble subdued"></span> comment
                    </div>
                    <div class="col col-40"></div>
                </div>
                <div class="row" ng-repeat="comment in post.feed_comment">
                    <div class="col col-100" style="margin-left:-25px;" >
                        <div class="item item-avatar">
                            <img style="margin-top:15px;"src="{{comment.user.picture}}">
                            <p class="card-description">
                                <a class="card-user-name" ui-sref="app.profile.posts({userId:post.userId})">
                                    {{comment.user.name}}
                                </a>
                            </p>
                            <span><p style="margin-top:-15px;"> {{comment.text}}</p></span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <ion-content>
</ion-view>