<ion-view view-title="Shop Order">
  <ion-content>
    <div class="list">


  <a class="item item-thumbnail-left"  href="#">
      <img src="http://www.phyathai.com/FileUpload/SmallImage/Thumbnail_29_02_2016_11_19_38.jpg">

   <div class="row" >

  <div class="col col-75 " style="border-style: solid;">PKN</div>
  <div class="col ">2</div>
 
</div>

<div class="row">
  <div class="col col-75">DT</div>
  <div class="col">ST</div>
</div>
</a>
</div>


    

	

  


     <!-- <a class="item item-thumbnail-left" href="#" >
      <img src="http://www.phyathai.com/FileUpload/SmallImage/Thumbnail_29_02_2016_11_19_38.jpg">
      <br><h2>Pack Name</h2>
      <br>
    
      <p>Detail</p>
    </a>

   <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
     <p>Detail</p>
  </a> -->
  </ion-content>
</ion-view>